<div class="container-flow" #container>
  <div class="one-half left" (mouseenter)="onLeftHover()" (mouseleave)="onLeftLeave()">
    <div class="layer">
      <h1>Fitness for her</h1>
      <a role="button" routerLink="/register" class="cta">Subscribe</a>
    </div>
    
  </div>
  <div class="one-half right" (mouseenter)="onRightHover()" (mouseleave)="onRightLeave()">
    
    <div class="layer">
      <h1>Fitness for him</h1>
      <a role="button" routerLink="/register" class="cta">Subscribe</a>
    </div>
  </div>
</div>
